<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AR990000.aspx.cs" Inherits="Page_AR990000" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>WEB METHOD</title>
</head>
<body>   
    WEB METHODS
</body>
</html>


